<!DOCTYPE html>
<html>
<head>
  <title> Movier </title>
  <meta charset="utf-8">
  <!-- D3 -->
  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link href="../static/css/cover.css" rel="stylesheet">
  <style>
    /*text{
      color: #333;
    }*/
    body{
      background-size: 100% auto;
      /*color: #000;*/
    }
  </style>
</head>
<body>
  <div class="background-container">
    <img src="../static/images/film-reel.jpeg">
  </div>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">s
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand"><b>MOVIER</b></h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/templates/moviepicker">PickMovie</a></li>
                <li><a href="/templates/trend_page">Trend</a></li>
              </ul>
            </nav>
          </div>
          <div class="outer">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
